@media  (max-width: 991px){
    .header{
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
    }
    .promo{
        min-height: 0;
        padding-bottom: 50px;
        &__wrapper {
            align-items: center;
            margin-top: 60px;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
            margin: 0px;
        }
        &__icons {
            margin-top: 45px;
        }
    }
    .button {
        &_main {
            margin-top: 50px;
        }
    }
    .advantages{
        padding: 50px 0;
        &__item{
            margin-top: 45px;
        }
        &__title{
            margin-top: 15px;
        }
        &__descr{
            margin-top: 10px;
        }
        &__list{
            padding: 0;
        }
    }
    .consultation{
        min-height: 0;
        padding: 50px 0;
        .title{
            text-align: center;
        }
        &__descr{
            text-align: center;
        }
        .feed-form{
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel{
        padding: 50px 0;
        &__inner{
            width: 100%;
        }
        .prev, .next{
            left: 10px;
            background-color: rgba($color: #fff, $alpha: 0);           
        }
        .next {
            right: 10px;
            left: auto;
        }
        .tns-item{
            img{
                width: 100%;
            }
        }
    }
    .catalog{
        padding-bottom: 70px;
        &__tabs{
            margin-top: 50px;
        }
        &__content{
            margin-top: 50px;
            justify-content: space-around;
        }
    }    
    .reviews {
        .title{
            margin-bottom: 50px;
        }
        &__wrapper {
            padding: 0 20px;
            img {
                margin-right: 42px;
            }
        }
    }
}
@media (max-width: 767px){
    .header{
        &__logo {
            width: 150px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        .button{
            width: 130px;
            height: 25px;
            font-size: 11px;
        }
    }    
    .promo{        
        padding-bottom: 30px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 18px;
            margin: 0px;
        }
        &__icons {
            margin-top: 35px;
            justify-content: space-around;
        }
        &__icon {
            width: 108px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px; 
            }
        }    
        .button_main {
                margin-top: 40px;
                width: 250px;
                height: 40px;
                font-size: 14px;
        }
            
    }
    .advantages{
        padding: 30px 0;
        &__item{
            margin-top: 25px;
        }
        &__title{
            margin-top: 0px;
        }
        &__descr{
            margin-top: 5px;
        }
    }
    .consultation{
        padding: 30px 0;
        .feed-form{
            margin: 0 auto;
            margin-top: 26px;
        }
    }
    .carousel{
        padding: 30px 0;
    }
    .catalog{
        padding-bottom: 40px;
        &__tabs {
            margin-top: 30px;
        }
        &__tab{
            width: 160px;
            font-size: 16px;
            &:hover{
                box-shadow: none;
            }
        }
        
    }
    .reviews {
        padding-bottom: 50px;
        .title {
            margin-bottom: 50px;
        }
        &__wrapper {
            align-items: center;
            img {
                width: 100px;
                height: 100px;
            }            
        }
        &__name {
            font-size: 16px;
        }
        &__marathons {
            font-size: 12px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}
@media (max-width: 575px){
    .title {
        font-size: 25px;
    }
    .header{
        flex-direction: column;
        &__logo {
            width: 250px;
        }
        &__official {
            display: none;
        }
        &__phone {
            display: none;
        }
        .button{
            display: none;
        }
    }
    .promo{
        padding-bottom: 20px;
        &__wrapper{
            margin-top: 20px;
        }
        &__header{
           font-size: 25px;
           margin: 10px 0 0 0; 
           text-align: center;
        }
        &__subheader{
            font-size: 16px;
            text-align: center;
        }
        &__icons {
           width: 320px; 
        }   
        &__icon{
            font-size: 11px;
            width: 90px;
            img{
                margin-bottom: 5px;
            }
        }    
    }
    .advantages{
        padding: 20px 0;
        .title{
            font-size: 25px;
        }
        &__item{
            margin-top: 15px;
        }
        &__descr{
            margin-top: 5px;
        }
    }
    .consultation{
        padding: 20px 0;
        .title{
            font-size: 25px;
        }
        &__descr{
            font-size: 14px;
        }
        .feed-form{
            margin: 0 auto;
            margin-top: 16px;
        }
    }
    .carousel{
        padding: 20px 0;
    }
    .catalog{
        padding-bottom: 25px;
        &__tabs {
            margin-top: 20px;
            flex-wrap: wrap;
        }
        &__tab{
            margin-bottom: 10px;
            width: 120px;
            font-size: 13px;
            &:hover{
                box-shadow: none;
            }
        }
        
    }
    .reviews {
        &__wrapper {
            flex-direction: column;
            img {
                margin: 0;
                margin-bottom: 20px;
            }
        }
        &__name {
            text-align: center;
        }
        &__marathons {
            text-align: center;
            margin-bottom: 10px;
        }
        &__descr {
            text-align: justify;
        }
    }
}