@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_advantages.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_titles.scss';
@import 'blocks/_consultation.scss';
@import 'blocks/_forms.scss';
@import 'blocks/_carousel.scss';
@import 'blocks/_catalog.scss';
@import 'blocks/_reviews.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_modal.scss';
@import 'blocks/_pageup.scss';
@import '_media.scss';