.reviews{
    padding-bottom: 70px;
    .title {
        margin-bottom: 70px;
    }
    &__wrapper {
        display: flex;
        img {
            width: 169px;
            height: 169px;
            margin-right: 62px;
        }        
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__marathons {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        color: #0d0d0d;
        text-align: left;
    }
    hr{ 
        border: 2px solid #f6f6f6;
        border-bottom: hidden;        
        margin: 35px 0;
    }
}