.title{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &_left{
        color: #ffffff;
        text-align: left;
        font-size: 36px;
    }
}